@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right,#AAB7BF,#D5E7F2);
}

main {
    background-color: white;
    border-radius: 10px;
    /*border-radius: 10px; serve para arredontar os cantos de um elemento*/
    box-shadow: 5px 5px 15px #1a3141;
    /* adiciona sombras na borda*/
    width: 600px;
    padding: 10px;
    /* A propriedade padding define o espaçamento interno de um elemento--ou seja,o espaço entre o conteúdo(como texto ou imagem) e a borda do elemento */
    margin: auto;
     /* A propriedade margin:auto é frequentemente utilizada para centraliz um elemento horizontalmente */
}
h1 {
    color: #F2A172 ;
    text-align: center;
    text-shadow: 1px 1px 0px black;
}
h2 {
    color: #AAB7BF;
}

p {
    text-align: justify;
}

